.wrapper_header{
    background: url(/imgs/bgcamp-1.jpg) center top;
    background-size: cover;
    padding: 6rem 0 4rem;
    position: relative;
    color: #ffffff;
    -webkit-box-shadow: -4px 10px 11px -12px rgba(0,0,0,0.83);
    -moz-box-shadow: -4px 10px 11px -12px rgba(0,0,0,0.83);
    box-shadow: -4px 10px 11px -12px rgba(0,0,0,0.83);
    border-bottom: 5px solid #ffffff;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(6,9,71,0.93);
        background: -moz-linear-gradient(45deg, rgba(6,9,71,0.93) 0%, rgba(6,9,71,0.93) 11%, rgba(12,46,158,0.9) 99%, rgba(12,46,158,0.9) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(6,9,71,0.93)), color-stop(11%, rgba(6,9,71,0.93)), color-stop(99%, rgba(12,46,158,0.9)), color-stop(100%, rgba(12,46,158,0.9)));
        background: -webkit-linear-gradient(45deg, rgba(6,9,71,0.93) 0%, rgba(6,9,71,0.93) 11%, rgba(12,46,158,0.9) 99%, rgba(12,46,158,0.9) 100%);
        background: -o-linear-gradient(45deg, rgba(6,9,71,0.93) 0%, rgba(6,9,71,0.93) 11%, rgba(12,46,158,0.9) 99%, rgba(12,46,158,0.9) 100%);
        background: -ms-linear-gradient(45deg, rgba(6,9,71,0.93) 0%, rgba(6,9,71,0.93) 11%, rgba(12,46,158,0.9) 99%, rgba(12,46,158,0.9) 100%);
        background: linear-gradient(45deg, rgba(6,9,71,0.93) 0%, rgba(6,9,71,0.93) 11%, rgba(12,46,158,0.9) 99%, rgba(12,46,158,0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060947', endColorstr='#0c2e9e', GradientType=1 );
    }
    .box_ttls{
        position: relative;
        z-index: 99;
        margin-bottom: 3rem;
        .ttls{
            margin: 0;
            
        }
        h1.ttls{
            font-size: 7.5rem;
            font-weight: 800;
        }
        h4.ttls{
            font-weight: 600;
            font-size: 3rem;
            letter-spacing: 5px;  
        }

    }
    .form-group{
        .form-control{
            border-radius: 0;
            font-size: 25px;
            padding: 2.5rem 1rem; 
            font-weight: 600;
            &:focus {
                // border: 5px solid #cd5fb4;
                border:0;
                outline: 0 !important;
                -webkit-box-shadow:0px 0px 0px 4px rgb(0,190,224); 
                box-shadow:0px 0px 0px 4px rgb(0,190,224); 
            }
        }
    }
    .btn_go{
       
        width: 100%;
        color: #fff;
        background: rgba(20,7,189,1);
        background: -moz-linear-gradient(45deg, rgba(20,7,189,1) 0%, rgba(0,190,224,1) 80%, rgba(0,190,224,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(20,7,189,1)), color-stop(80%, rgba(0,190,224,1)), color-stop(100%, rgba(0,190,224,1)));
        background: -webkit-linear-gradient(45deg, rgba(20,7,189,1) 0%, rgba(0,190,224,1) 80%, rgba(0,190,224,1) 100%);
        background: -o-linear-gradient(45deg, rgba(20,7,189,1) 0%, rgba(0,190,224,1) 80%, rgba(0,190,224,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(20,7,189,1) 0%, rgba(0,190,224,1) 80%, rgba(0,190,224,1) 100%);
        background: linear-gradient(45deg, rgba(20,7,189,1) 0%, rgba(0,190,224,1) 80%, rgba(0,190,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1407bd', endColorstr='#00bee0', GradientType=1 );
        &:hover{
            background: rgba(0,190,224,1);
            background: -moz-linear-gradient(45deg, rgba(0,190,224,1) 0%, rgba(0,190,224,1) 20%, rgba(20,7,189,1) 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,190,224,1)), color-stop(20%, rgba(0,190,224,1)), color-stop(100%, rgba(20,7,189,1)));
            background: -webkit-linear-gradient(45deg, rgba(0,190,224,1) 0%, rgba(0,190,224,1) 20%, rgba(20,7,189,1) 100%);
            background: -o-linear-gradient(45deg, rgba(0,190,224,1) 0%, rgba(0,190,224,1) 20%, rgba(20,7,189,1) 100%);
            background: -ms-linear-gradient(45deg, rgba(0,190,224,1) 0%, rgba(0,190,224,1) 20%, rgba(20,7,189,1) 100%);
            background: linear-gradient(45deg, rgba(0,190,224,1) 0%, rgba(0,190,224,1) 20%, rgba(20,7,189,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bee0', endColorstr='#1407bd', GradientType=1 );
        }
    }
}