.wrapper_content_list{
    margin-top: 5rem;
    .panel.panel-default{
        border: 0;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
        .media-object{
            width: 75px;
            height: 75px;
        }
        .media-heading{
            margin-top: 2.5rem;
            font-weight: 600;
        }
    }
}