@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body{
  font-family: 'Roboto', sans-serif;
}

.mt{margin-top: 2.5rem;}

.btn{
  border-radius: 0;
  padding: .85rem 0;
  border: 0;
  font-size: 25px;
  font-weight: 600;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}